@import "tailwindcss";

@theme {
  /* 品牌主色系 */
  --color-brand-50: #fff6eb;
  --color-brand-100: #ffe6c6;
  --color-brand-core: #ffa13c;
  --color-brand-500: #f96307;
  --color-brand-950: #460902;

  /* 字體 */
  --font-sans: "Noto Sans TC", "Inter", system-ui, sans-serif;

  /* 缓动函数 */
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

html {
  font-weight: 600; /* Semi Bold */
}
input::placeholder {
  @apply font-normal text-gray-400;
}
